<header class="navbar navbar-expand-lg py-4 py-md-3">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="{{ path('show_home') }}">
            <img src="{{ asset('/img/logo.svg')}}" alt="Phil's Laundry Logo" class="logo me-2">
            <span class="h4 h-md5 mb-0 text-black">PhilsLaundry</span> <!-- Utilisation de classes de typographie responsive -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav flex-row justify-content-between navbar-nav w-75 mx-auto">
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link text-dark fw-bold text-uppercase" href="{{ path('show_dashboard') }}">Profil</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-dark fw-bold text-uppercase" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link text-dark fw-bold text-uppercase" href="{{ path('show_services') }}">Services</a>
                </li>
                {% if app.user %}
                    <li class="nav-item">
                        <div class="avatar" data-initials="{{ app.user.firstName|first ~ app.user.name|first }}" data-color="{{ '#' ~ random(0, 16777215)|format('%06x') }}">
                            <span class="initials"></span>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</header>


<script>
   document.addEventListener('DOMContentLoaded', function() {
    const avatar = document.querySelector('.avatar');
    const initials = avatar.getAttribute('data-initials');
    const color = avatar.getAttribute('data-color');

    avatar.style.backgroundColor = color;
    avatar.querySelector('.initials').textContent = initials;
});
</script>
